.headerDialog > * {
    font-size: 22px !important;
    padding-top: 25px;
    color: white !important;
    font-weight: bold !important;
}

.contentDialog {
    font-size: 13px !important;
    color: white !important;
}

.Dialog {
    background-color: #424242 !important;
}

.DialogCSS {
    background-color: #424242 !important;
    opacity: 0.9;
}

.buttonsDialog {
    font-size: 16px !important;
    color: #90CAF9 !important;
    font-weight: bold !important;
    padding-bottom: 10px !important;
    padding-right: 30px !important;
}