.Maps {
    width: 100%;
    height: 300px;
}

.mapNote {
    font-size: 18px !important;
    color: red !important;
    font-weight: bold !important;
}

.label {
    font-size: 12px !important;
    color: black !important;
    font-weight: bold !important;
}

.radioButtons>div {
    display: inline-block !important;
    margin-right: 10px !important;
}

.radioButtons>div>label {
    color: black !important;
}

.radioButtons>label {
    display: block !important;
}

.headerDialog>* {
    font-size: 22px !important;
    padding-top: 25px;
    color: white !important;
    font-weight: bold !important;
}

.contentDialog {
    font-size: 13px !important;
    color: white !important;
}

.Dialog {
    background-color: #424242 !important;
}

.DialogCSS {
    background-color: #424242 !important;
    opacity: 0.9;
}

.buttonsDialog {
    font-size: 16px !important;
    color: #90CAF9 !important;
    font-weight: bold !important;
    padding-bottom: 10px !important;
    padding-right: 30px !important;
}